@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css");

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
*{
  box-sizing: border-box;
}

a{
  color: inherit;
  text-decoration: none;

}

body{
  margin: 0;

}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}
ul, li{
  /* list-style: none = ul의 동그라미 제거 */
  list-style: none;
  margin: 0;
  padding: 0;
}
/* 위쪽 css 초기 reset css */

header{

}

header .top-title {

  background: #edf1f5;
  padding-bottom: 5px;
  
}
header .top-title-banner{
    
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5px;

  }
/* 2번째 헤더 */
header .middle-title {
  padding: 5px 0 20px 0;
  background: #fff;

}

header .middle-title-nav ul{
  display: flex;
  justify-content: right;
  width: 82%;
  

    
}

header .middle-title-nav li{
  display: flex;
  height: 20px;
  font-weight: lighter;
  font-size: 14px;
  margin-top: 15px;
  margin-right: 10px;
  padding-right: 5px;
  border-right: 1px solid gray;
  align-items: center;
  cursor: pointer;

}
header .middle-title-nav li i{
  margin-left: 5px;
}
header .middle-title-nav li.border-n{
  border: none;
}
/* 2-2 */
header section.head-in{
  display: flex;
  width: 80%;
  margin: 0 auto;
  
} 
header section.head-in nav.middle-title-logo{
  flex:1;
  display: flex;
}
/* 2-3 */
header section.head-in nav.middle-title-search{
  flex:1;
  display: flex;
  justify-content: center;
  
  

}
header section.head-in nav.middle-title-search .merge{
  width: 30%;
  display: flex;
  position: relative;
  align-items: center;
  }
header section.head-in nav.middle-title-search input{
width: 100%;
height: 40px;
display: flex;
border-radius: 50px;
border: 2px solid #246beb;
outline: #246beb;
padding: 10px;


} 
header section.head-in nav.middle-title-search input:focus {
  border: 4px solid #246beb;
  outline: #246beb;
}


header section.head-in nav.middle-title-search .merge i{
  font-size: 25px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50% ,-50%);
  
}
header section.head-in nav.middle-title-search .sign-in{
  
  margin-left: 20px;
  display: flex;
  align-items: center;
  width: 30%;
  cursor: pointer;
}
header section.head-in nav.middle-title-search .sign-in li{
margin-right: 15px;
font-size: 17px;
font-weight: 700;

}

/* 3번째 헤더 */
header .bottom-title{



border-top: 1px solid #d8d8d8;

padding-top: 20px;
}
header .bottom-title nav.gnb{
  background: #fff;
  width: 80%;
  margin: 0 auto;   
}

header .bottom-title nav.gnb ul{
  display: flex;
  align-items: center;
  height: 100%;
}
header .bottom-title nav.gnb ul li{
  display: flex;
  font-weight: 700;
  font-size: 20px;
  margin-right: 50px;
  color: #555555;
  cursor: pointer;
  padding-bottom: 20px;  
 
}
header .bottom-title nav.gnb ul li i{
  margin-left: 10px;
}
header .bottom-title nav.gnb ul li:hover{
  color: #003675;
 border-bottom: 4px solid #003675;
}


/* 메인 큰 프레임 가로 100%지정 */
main.main-container{
  width: 100%;
}
/* 베너 부분 큰 프레임 색상 지정 */
main.main-container .bigswipper{

  background-color: #D8E4F2;
   
}

main.main-container section.in{
  display: flex;
  width: 100%;
  justify-content: center;
 
}
.bigswipper .banner{

  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 100px 100px 60px 100px;
  position: relative;
}
.bigswipper .banner button{
  width: 4.4rem;
    height: 4.4rem;
    border-radius: 50px;
    justify-content: center;
    border: none;
    cursor: pointer;
    background: #fff;
}
.bigswipper .banner button.left{
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bigswipper .banner button.right{
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bigswipper .banner button i{
  font-size: 20px;
  
}

.bigswipper .banner .text{

  display: flex;
  flex-direction: column;
  margin-right: 40px;
  
  
}
.bigswipper .banner .text p{
  font-size: 40px;
  line-height: 60px;
  width: 100%;
  font-family: "",sans-serif;
  font-weight: 700;
  
}
.bigswipper .banner .text a{
  display: inline-flex;

  margin-top: 40px;
  width: 70%;
  background: #246beb;
  height: 60px;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  border-radius: 10px;
  
}


section.swipper{
  display: flex;
  justify-content: center;
  padding-bottom: 30px;

}

section.swipper .swipper-move{
  width: 130px;

  border-radius: 30px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;

}

section.swipper .swipper-move span{
display: block;
width: 15px;
height: 10px;
margin-right: 5px;
border-radius: 10px;
background: #000;
opacity: 0.2;
cursor: pointer;
}
section.swipper .swipper-move span.dif{
  width: 20px;
  background: #003675;
  opacity: 1;
}
section.swipper button{
  background: #fff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;

}
div.swipper button .left{
  margin-right: 10px;
}
div.swipper button .right{
  margin-left: 10px;
}

nav.main-sector{
  
  margin-top: 40px;
 
  display: flex;
  flex-direction: column;

}

nav.main-sector section.menu-swipper{
  display: flex;
  justify-content: center;
  position: relative;



}
nav.main-sector section.menu-swipper a{
  width: 150px;
  margin: 0 10px 0 10px;
  background: #f3f3f6;
  border-radius: 10px;
  
}
nav.main-sector section.menu-swipper span{
 
  width: 100%;
  height: 60px;
  display: flex;
  
  
}
nav.main-sector section.menu-swipper span i{
font-size: 40px;
opacity: 0.5;
text-align: center;
align-content: center;

width: 100%;
}

nav.main-sector section.menu-swipper p{
  width: 100%;
  height: 70px;
  font-size: 1.1rem;

  text-align: center;

}
nav.main-sector section.menu-swipper button{
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  border: 1px solid #bcbcbc;
  background: #fff;
  cursor: pointer;
}

nav.main-sector section.menu-swipper button.left{
  position: absolute;
  top: 50%;
  left:13%;
  transform: translate(-50% ,-50%);
}

nav.main-sector section.menu-swipper button.right{
  position: absolute;
  top: 50%;
  right:10%;
  transform: translate(-50% ,-50%);
  
}
nav.main-sector section.menu-swipper section.bullet-box{

  border: 1px solid blue;
  
}
nav.main-sector div.swipper-bullet{
  padding: 20px;
 
  display: flex;
  justify-content: center;
}
nav.main-sector div.swipper-bullet span{
 
width: 15px;
height: 10px;
margin-right: 5px;
border-radius: 10px;
background: #000;
opacity: 0.2;
cursor: pointer;
}
nav.main-sector div.swipper-bullet span.dif{
width: 20px;
background: #003675;
opacity: 1;
}
/* footer 제일 큰 박스 */
footer{
  
  width: 100%;
  height: 500px;
  background: rgb(244, 247, 247);
}

/* footer 내부 큰 박스 */
footer div.main{
  padding-top: 40px;
  width: 80%;
  margin: 0 auto;
}
footer div.main section.main-footer{
  display: flex;
 
  padding-top: 20px;
}

footer div.main section .main-footer-left{
  width: 90%;
}

footer div.main section .main-footer-left p{
 
  padding-bottom: 20px;
  
}
footer div.main section .main-footer-left li{
  
  font-size: 1.2rem;
  line-height: 30px;
}
footer div.main section .main-footer-left li p{
  font-weight: 700;
  display: inline;
}
footer div.main section .main-footer-right{
  width: 30%;
  display: flex;
  flex-direction: column;
  
}
footer div.main section .main-footer-right ul{

}
footer div.main section .main-footer-right ul li{
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 30px;
  cursor: pointer;
  width: fit-content;
  transition: 1s;
  
  
}
footer div.main section .main-footer-right ul li:hover{
  background: #a8c0f3;
  box-sizing: content-box;
  
}
footer div.main section .main-footer-right div{
  padding-top: 40px;
}

footer div.main nav.footer-bottom{
  color: #555555;
  display: flex;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #d8d8d8;
}
footer div.main nav.footer-bottom ul{
  display: flex;
  width: 65%;
  padding-bottom: 30px;
}
footer div.main nav.footer-bottom ul li.underline{
  text-decoration: underline;
  text-underline-position: below;
  color: #003675;
  font-weight: 700;
}
footer div.main nav.footer-bottom ul li.underline:hover{
  color: #555555;
}
footer div.main nav.footer-bottom ul li{
  margin-right: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  
  
}
footer div.main nav.footer-bottom a{
  font-weight: 600;
}
footer div.main p.footer-bottom-b{
  width: 98%;
  background: #fff;
  display: flex;
  margin-left: 10px;  
  margin: 0 auto;
  padding: 20px;
}
footer div.main p.footer-bottom-b img{
  width: 80px;
  margin-right: 10px;
  padding-left: 10px;
  
  
}